*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

a{
    text-decoration: none;
    color: black;
}
li{
    list-style: none;
}

nav{
    background-color: rgb(191, 190, 190);
    width: 100%;
    height: 40px;
    text-align: center;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    
    
}

.nav_item{
    
    display: flex;
    flex-direction: row;
    gap: 25px;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    
}