/* style.css */

/* Reset & Base */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}
body {
  font-family: Arial, sans-serif;
}
a {
  text-decoration: none;
  color: #333;
}

/* Navbar Base */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #e9e8e8;
  padding: 0.8rem 1rem;
  position: relative;
}
.brand {
  font-size: 1.2rem;
  font-weight: bold;
}
.nav-links {
  display: flex;
  gap: 1rem;
}
.nav-links a {
  padding: 0.5rem 0.8rem;
  border-radius: 4px;
}
.nav-links a:hover {
  background: #e0e0e0;
  border-top: 2px solid aqua;
}

/* Hamburger Button */
.hamburger {
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 25px;
  height: 18px;
  cursor: pointer;
}
.hamburger span {
  height: 3px;
  background: #333;
  border-radius: 2px;
}

/* Hide Checkbox */
#menu-toggle {
  display: none;
}

.contact{
    font-weight: bold;
    background: #007bff;
    color: rgb(255, 255, 255);
    padding: 0.5rem 1.6rem;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
.contact:hover{
    background-color: black;
    color: #007bff;
}

/* Mobile Styles */
@media (max-width: 768px) {
  .nav-links {
    display: none;
    flex-direction: column;
    background: #f5f5f5;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    padding: 1rem;
    border-top: 1px solid #ddd;
  }
  .nav-links a {
    padding: 0.5rem 0;
  }
  /* Show hamburger on mobile */
  .hamburger {
    display: flex;
    
  }
  /* Show menu when checked */
  #menu-toggle:checked ~ .nav-links {
    display: flex;
    align-items: center;
  }
}
